body {
	background-color: #f4f4f4;
	margin: 30px 0 550px 0;
	font-family: Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 0.9em;
	font-weight: normal;
	margin: 0 0 0.7em 0;
}

p {
	margin: 0;
}

a {
	color: #234674;
}

ol {
	padding: 0;
	margin-left: 5px;
}

li {
	display: table-cell;
	vertical-align: bottom;
	padding-right: 5px;
}

li input[type=text] {
	font-family: Consolas, Monaco, monospace;
	font-size: 1.5em;
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	text-align: center;
	background-color: #fff;
	color: #000;
}

li.active input[type=text] {
	background-color: #fff8de;
	border-color: #e7ddb4;
}

li.active:before {
	content: url('magnet.png');
	display: block;
	width: 24px;
	height: 30px;
	margin: 0 auto;
}

.container {
	position: fixed;
	width: 640px;
	margin: 40px auto;
	padding: 25px 20px;
	left: 50%;
	margin-left: -343px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.actions, .count, .state, .calc {
	float: left;
	width: 32%;
	height: 70px;
	border: 1px solid #ccc;
	border-width: 0 1px 1px 0;
}

.actions p {
	line-height: 2.5em;
}

.count, .state, .calc {
	padding-left: 10px;
}

.count p, .state p, .calc p {
	font-size: 2em;
	font-family: Consolas, Monaco, monospace;
}

.count {
	width: 12%;
}

.state {
	width: 12%;
}

.calc {
	width: 38%;
	border-right: 0;
}

#calc {
	cursor: pointer;
}

#canvas {
	clear: both;
	margin: 100px auto 20px auto;
}
